@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  min-height: 100vh;
}
.list {
  position: relative;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}

.book-list {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}


.book-list ul {
  list-style-type: none;
  padding: 0; 
}

.book-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 2px 4px #ccc;
  
}

.book-link {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #5c9ee6;
  color: #fff;
  
  border-radius: 5px;
  font-weight: bold;
  
}

.book-link:hover {
  background-color: #5c8fd3;
  
}

.add-book-button {
  background-color: #5c9ee6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.add-book-container {
  text-align: right; /* Align the button to the right */
  margin: 10px 0; /* Add margin for spacing */
}